/* Add these styles to your CSS file */
/* Add these styles to your CSS file */

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em; /* Adjust the font size as needed */
    color: #161515; /* Adjust the color as needed */
  }
  
  /* Additional styling for smaller screens */
  
.ig {
    align-items: center;
    margin: 0 auto; /* This centers the div horizontally */
    max-width: 2000px; /* Adjust the max-width as needed */
    margin-right: 70px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h5 {
    font-size: 1.2em; /* Adjust the font size as needed */
    color: #353333;
    text-align: center;
    margin-top: 10px; /* Adjust the top margin as needed */
  }
  /* Add these styles to your CSS file */

/* Add these styles to your CSS file */
/* Add these styles to your CSS file */

.cardaprt {
    width: 500px; /* Adjust the width of the card as needed */
    margin: 0 auto; /* Center the card horizontally */
    text-align: center;
  }
  
  .cardaprt img {
    width: 100%;
    height: auto; /* Maintain aspect ratio of the image */
    border-radius: 8px; /* Ensure the image has rounded corners if desired */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
    
  
  @media screen and (max-width: 768px) {
    /* Adjust styles for screens with a width of 768 pixels or less */
    .ig {
      max-width: 100%; /* Full width on smaller screens */
      margin: 0; /* Remove margin for full-width */
    }
  
    h5 {
      font-size: 1em; /* Adjust the font size for smaller screens */
      margin-top: 8px; /* Adjust the top margin for smaller screens */
    }
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.5em; /* Adjust the font size for smaller screens */
    }
  }
