
.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .text-center h1 {
    font-weight: bold; /* Increase the boldness of h1 */
    position: relative; /* Set position to relative for absolute positioning of the underline */
  }
  
  .text-center h1::after {
    position: absolute;
    left: 37%; /* Center the underline horizontally */
    bottom: -5px; /* Adjust the distance from the text */
    width: 80px; /* Set the width of the underline */
    border-bottom: 2px solid #676b70; /* Define the color and style of the underline */
  }
  .text-center {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
