.cta {
    background: url("../../../public/home-3.jpg") fixed 50% 50%;
    background-size: cover;
    padding: 120px 0px;
  }
  
  .cta-block {
    background: url("../images/bg/home-3.jpg") no-repeat;
    background-size: cover;
  }
  
  